<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Личны кабинет - Вопрос-ответ
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		main#content
			.wrapper
				.content
					.title-block__cont
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#") Главная
									a.bread-crumbs__link(href="#") Личный кабинет
									span.bread-crumbs__this Вопрос-ответ
							.title-block__title
								h1 Личный кабинет
					.content-main-cont
						.content-main
							.lk
								aside.lk-aside
									.lk-aside__links
										each link, i in ["Ваши обращения", "Доступные виды поддержки", "Личные данные", "Вопрос-ответ", "Мероприятия", "Онлайн запись", "Получить поддержку", ]
											if (i == 0)
												a(href="#").lk-aside__link.active=link
											else
												a(href="#").lk-aside__link=link
								.lk-cont
									.lk-cont-title 
										span Мероприятия
										a(href="#").question Задать вопрос о работе личного кабинета

									.lk-events
										.lk-events__list
											.lk-events__item
												.lk-events__item-top
													.lk-events__item-title Консультации по юридическим вопросам
													.lk-events__item-date.active 06.02.2019
												.lk-events__item-info
													.lk-events__info-prev
														.text-page
															p Есть вопросы к юристу, но не знаешь к кому обратиться?<br> Сколько стоит консультация для предпринимателя?<br> Где найти юриста компетентного в вопросах бизнеса? 
													.lk-events__item-next
														.text-page
															p Есть вопросы к юристу, но не знаешь к кому обратиться?<br> Сколько стоит консультация для предпринимателя?<br> Где найти юриста компетентного в вопросах бизнеса?
															p Есть вопросы к юристу, но не знаешь к кому обратиться?<br> Сколько стоит консультация для предпринимателя?<br> Где найти юриста компетентного в вопросах бизнеса?
															p Есть вопросы к юристу, но не знаешь к кому обратиться?<br> Сколько стоит консультация для предпринимателя?<br> Где найти юриста компетентного в вопросах бизнеса?
															p Есть вопросы к юристу, но не знаешь к кому обратиться?<br> Сколько стоит консультация для предпринимателя?<br> Где найти юриста компетентного в вопросах бизнеса?
													.lk-events__item-bot
														.lk-events__item-btn Развернуть
											.lk-events__item
												.lk-events__item-top
													.lk-events__item-title Консультации по юридическим вопросам
													.lk-events__item-date 06.02.2019
												.lk-events__item-info
													.lk-events__info-prev
														.text-page
															p Есть вопросы к юристу, но не знаешь к кому обратиться?<br> Сколько стоит консультация для предпринимателя?<br> Где найти юриста компетентного в вопросах бизнеса? 
													.lk-events__item-next
														.text-page
															p Есть вопросы к юристу, но не знаешь к кому обратиться?<br> Сколько стоит консультация для предпринимателя?<br> Где найти юриста компетентного в вопросах бизнеса?
															p Есть вопросы к юристу, но не знаешь к кому обратиться?<br> Сколько стоит консультация для предпринимателя?<br> Где найти юриста компетентного в вопросах бизнеса?
															p Есть вопросы к юристу, но не знаешь к кому обратиться?<br> Сколько стоит консультация для предпринимателя?<br> Где найти юриста компетентного в вопросах бизнеса?
															p Есть вопросы к юристу, но не знаешь к кому обратиться?<br> Сколько стоит консультация для предпринимателя?<br> Где найти юриста компетентного в вопросах бизнеса?
													.lk-events__item-bot
														.lk-events__item-btn Развернуть

															
		include inc/scripts.pug