<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Личны кабинет - Обращения
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		main#content
			.wrapper
				.content
					.title-block__cont
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#") Главная
									a.bread-crumbs__link(href="#") Личный кабинет
									span.bread-crumbs__this Ваши обращения
							.title-block__title
								h1 Личный кабинет
					.content-main-cont
						.content-main
							.lk
								aside.lk-aside
									.lk-aside__links
										each link, i in ["Ваши обращения", "Доступные виды поддержки", "Личные данные", "Вопрос-ответ", "Мероприятия", "Онлайн запись", "Получить поддержку", ]
											if (i == 0)
												a(href="#").lk-aside__link.active=link
											else
												a(href="#").lk-aside__link=link
								.lk-cont
									.lk-cont-title 
										span Обращения
									.lk-treatment
										.lk-treatment__list
											.lk-treatment__item
												.lk-treatment__item-top
													.lk-treatment__item-title МФЦ для бизнеса с комфортом
													.status.status--completed 
														span 
														| Выполнено
												.lk-treatment__item-info-cont
													.lk-treatment__info
														.lk-treatment__info-label Документ:
														.lk-treatment__info-date 03.04.2019
													.lk-treatment__item-docs
														a(href="") Паспорт гражданина Российской Федерации
														a(href="") Паспорт гражданина Российской Федерации
											.lk-treatment__item
												.lk-treatment__item-top
													.lk-treatment__item-title Предоставление поручительства
													.status.status--expertiza-completed
														span 
														| Экономическая экспертиза пройдена
												.lk-treatment__item-info-cont
													.lk-treatment__info
														.lk-treatment__info-label Документ:
														.lk-treatment__info-date 03.04.2019
													.lk-treatment__item-docs
														a(href="") Паспорт гражданина Российской Федерации
														a(href="") Паспорт гражданина Российской Федерации
											.lk-treatment__item
												.lk-treatment__item-top
													.lk-treatment__item-title Общее
													.status.status--support-no 
														span 
														| Поддержка не оказана
												.lk-treatment__item-info-cont
													.lk-treatment__info
														.lk-treatment__info-label Документ:
														.lk-treatment__info-date 03.04.2019
													.lk-treatment__item-docs
														a(href="") Паспорт гражданина Российской Федерации
														a(href="") Паспорт гражданина Российской Федерации
											.lk-treatment__item
												.lk-treatment__item-top
													.lk-treatment__item-title Онлайн запись на услуги с сайта
													.status.status--await
														span 
														| Ожидание клиента
												.lk-treatment__item-info-cont
													.lk-treatment__info
														.lk-treatment__info-label Документ:
														.lk-treatment__info-date 03.04.2019
													.lk-treatment__item-docs
														a(href="") Паспорт гражданина Российской Федерации
														a(href="") Паспорт гражданина Российской Федерации 
		include inc/scripts.pug