<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Личны кабинет - Обращения
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		main#content
			.wrapper
				.content
					.title-block__cont
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#") Главная
									a.bread-crumbs__link(href="#") Личный кабинет
									span.bread-crumbs__this Ваши обращения
							.title-block__title
								h1 Личный кабинет
					.content-main-cont
						.content-main
							.lk
								aside.lk-aside
									.lk-aside__links
										.lk-aside__links
											each link, i in ["Ваши обращения", "Доступные виды поддержки", "Личные данные", "Вопрос-ответ", "Мероприятия", "Онлайн запись", "Получить поддержку", ]
												if (i == 0)
													a(href="#").lk-aside__link.active=link
												else
													a(href="#").lk-aside__link=link
								.lk-cont
									.lk-cont-title 
										span Обращения
									.lk-treatment
										.lk-treatment-no
											.lk-treatment-no__title Нет обращений :(
											.lk-treatment-no__text
												.text-page
													p Cписок заявок не может быть запрошен.
													p Возможные причины:
													ul
														li Заявок не было
														li В вашем профиле не указан номер телефона
														li Не удалось получить данные с внешнего сервера (попробуйте позже)
											.lk-treatment-no__btn
												a(href="").btn Добавить новое обращение
		include inc/scripts.pug